<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/header :: header (Events)"></head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<div class="container eventContainer">
    <div class="row">
        <form class="form" th:action="@{/events/edit}" method="POST" th:object="${event}">
            <label>Title: </label>
            <input type="text" th:field="*{title}" th:value="${title}" th:required="required" /> <br />
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />
            <label>Start Date: </label>
            <input type="date" name="startDate" th:required="required" /> <label>Start Time: </label>
            <!--<p th:if="${#fields.hasErrors('start_date')}" th:errors="*{start_date}" />-->
            <input type="time" name="startTime" /> <br />
            <label>End Date: </label>
            <input type="date" name="endDate" /> <label>End Time: </label>
            <input type="time" name="endTime" /> <br />
            <label>Location: </label>
            <input type="text" th:field="*{location}" th:value="${location}" /> <br />
            <label>Description: </label>
            <input type="text" th:field="*{description}" th:value="${description}" th:required="required" />
            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" />
            <h1>Categories</h1>
            <div>
                <label th:each="category : ${categories}">
                    <input type="checkbox" th:field="*{categories}" th:value="${category.id}" /> <span class="categories" th:text="${category.name}"></span>
                </label>
            </div>
            <input type="hidden" th:field="*{id}" th:value="${id}" /> <br />

            <button>Submit Edits</button>
        </form>
        <form class="xs-offset-3 xs-col-6 center-block text-center" th:action="@{/events/delete}" th:method="post" th:object="${event}">
            <input type="hidden" th:field="*{id}" th:value="${id}" />
            <button id="delete">Delete</button>
        </form>
    </div>
</div>



<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>