body {
    background-color: #2B2958;
    color: white;
}
a {
    color: #b7b3b3;
    font-weight: bold;
}
.homePageText {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 1.75rem;
}

.iconHeader {
    margin-top: 10px;
}

.indexIconDesc {
    margin-top: 20px;
}

.iconBox {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
}

.registrationLabels {
    margin-bottom: 2px;
}

.registrationInputs {
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
}

.regFormContainer {
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #A1FBFD;
    border-radius: 5px;
}

.registrationButton {
    width: 60%;
    background-color: #A1FBFD;
    color: #2B2958;
    border-radius: 5px;
    margin-bottom: 10px;
}
.card {
    background-color: #2B2958;
}

textarea {
    width: 90%;
    height: auto;
}
.dashboardBlock {
    background: #44417d;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: -.5rem .5rem 1rem #1b073c;
    width: 100%;
    margin-top: 1rem;
}
.block-shadow {
    box-shadow: -.5rem .5rem 1rem #1b073c;
}
.dashboardImg {
    width: 10rem;
    height: 10rem;
    margin: .75rem auto;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.familyListImg {
    width: 5rem;
    height: 5rem;
    margin: .25rem auto;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.dashboardGrid {
    background: #c1befb;
    padding: .5rem;
    color: #2B2958;
}
.commentImg {
    width: 7rem;
    height: 7rem;
    margin: .25rem auto;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.commentImg img, .dashboardImg img, .familyListImg img {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
}
.btn-outline-info {
    color: #c1befb;
    border-color: #c1befb;
}
.btn-outline-primary {
    color: #2c2a57;
    border-color: #2c2a57;
}
.btn.btn-outline-primary {
    padding: .6rem;
    line-height: .3rem;
}
.btn-outline-info:hover {
    color: white;
    background: #c1befb;
    border-color: #c1befb;
}
.btn-outline-primary:hover {
    color: white;
    background: #2c2a57;
    border-color: #2c2a57;
}
.btn-outline-info:not(:disabled):not(.disabled):active {
    color: white;
    background: #c1befb;
    border-color: #c1befb;
}
.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: white;
    background: #2c2a57;
    border-color: #2c2a57;
}
.btn-outline-info:focus {
    box-shadow: 0 0 0 0.2rem rgba(193, 190, 251, .5);
}
.btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(44, 42, 87, .5);
}
.input-group-text {
    color: #c1befb;
    border: 1px solid #c1befb;
    background-color: #2c2a57;
}
.custom-select {
    color: #2c2a57;
    border: 1px solid #c1befb;
}