body {
    background-color: #2B2958;
    color: #2c2a57;
}
nav{
    z-index: 1;
}
.nav-link {
    margin: 0 .45rem;
}
.kid-text {
    font-family: 'Short Stack', cursive;
}
.mainImg::before, .img404::before {
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background: #2c2a57;
    opacity:0.4;
}
.mainImg {
    background: linear-gradient(0deg, rgba(44,42,87,1) 0%, rgba(253,29,29,0) 5%, rgba(205,32,42,0) 95%, rgba(44,42,87,1) 100%), url("/img/family.jpg");
    background-position: top;
    background-size: cover;
    height: 47rem;
}
.logo {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position:absolute;
}
a {
    color: #b7b3b3;
    font-weight: bold;
}
.kid-text a h5 {
    color: #b7b3b3;
    font-weight: bold;
    text-decoration: underline;
}
a:hover {
    color: #A1FBFD;
}
.kid-text a:hover, .kid-text a h5:hover {
    color: #A1FBFD;
    transform: scaleY(1.5);
}
p {
    color: white;
}
.homePageText {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 1.75rem;
    color: white;
}
.indexHeader {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.75em;
    margin-top: 2.5rem;
    margin-bottom: 1.75rem;
    color: #a1fbfd;
    border-radius: 50rem;
}
.indexIconDesc {
    margin-top: 20px;
}
.iconBox {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    color: white;
}

.registrationLabels {
    margin-bottom: .25rem;
}

.registrationInputs {
    margin-bottom: .85rem;
    border-radius: 5px;
    width: 100%;
    padding: .25rem;
}
.loginInputs {
    border-radius: 5px;
    width: 38%;
    margin: .25rem .45rem;
    padding: .25rem;
}
.registrationDescription {
    margin-bottom: .85rem;
    border-radius: 5px;
    width: 100%;
    height: 2.25rem;
}
.regFormContainer {
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #A1FBFD;
    border-radius: 5px;
    color: white;
}

.registrationButton {
    width: 60%;
    background-color: #A1FBFD;
    color: #2B2958;
    border-radius: 5px;
    margin-bottom: 10px;
}
.textArea {
    width: 100%;
    height: auto;
    color: #2c2a57;
    background: white;
}
.textArea div {
    color: #2c2a57;
}
textarea {
    width: 100%;
    height: 15rem;
    color: #2c2a57;
    background: white;
}
.dashboardBlock {
    background: #44417d;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: -.5rem .5rem 1rem #1b073c;
    width: 100%;
    margin-top: 1rem;
    color: white;
}
.block-shadow {
    box-shadow: -.5rem .5rem 1rem #1b073c;
}
.dashboardImg {
    width: 10rem;
    height: 10rem;
    margin: .75rem auto;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.homeImg {
    width: 16rem;
    height: 16rem;
    margin: .75rem auto;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.familyListImg {
    width: 5rem;
    height: 5rem;
    margin: .25rem auto;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.dashboardGrid {
    background: #A1FBFD;
    padding: .5rem;
    color: #2B2958;
    border-radius: 5px;
    margin-top: 1.5rem;
}
.dashboardGrid a{
    color: rgba(44, 42, 87, .5);
    font-weight: normal;
}
.dashboardGrid a:hover{
    color: #2c2a57;
    text-decoration: none;
}
.commentImg {
    width: 7rem;
    height: 7rem;
    margin: .25rem auto;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.aboutUsImg {
    width: 20rem;
    height: 20rem;
    margin: .25rem auto;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.commentImg img, .dashboardImg img, .familyListImg img, .homeImg img, .aboutUsImg img {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
}
.bg-dark {
    background: #2c2a57!important;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #2c2a57;
    background: #a1fbfd;
    border-radius: 5px;
}
.navbar-dark .navbar-nav .active>.nav-link:hover, .navbar-dark .navbar-nav .nav-link.active:hover, .navbar-dark .navbar-nav .nav-link.show:hover, .navbar-dark .navbar-nav .show>.nav-link:hover {
    color: #2c2a578a;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(159, 251, 253, .75);
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(159, 251, 253, 1);
}
.text-info {
    color: #A1FBFD!important;
}
.text-primary {
    color: #2c2a57!important;
}
.text-danger {
    color: #ff3f51;
}
.btn-outline-info {
    color: #A1FBFD;
    border-color: #A1FBFD;
}
.btn-outline-primary {
    color: #2c2a57;
    border-color: #2c2a57;
}
.dashboardGrid .btn-outline-primary {
    padding: .6rem;
    line-height: .3rem;
}
.btn-outline-info:hover {
    color: #2c2a57;
    background: #A1FBFD;
    border-color: #A1FBFD;
}
.btn-outline-primary:hover {
    color: white;
    background: #2c2a57;
    border-color: #2c2a57;
}
.btn-outline-info:not(:disabled):not(.disabled):active {
    color: #2c2a57;
    background: #A1FBFD;
    border-color: #A1FBFD;
    box-shadow: 0 0 0 0.2rem rgba(161,251,253, .5);
}
.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: white;
    background: #2c2a57;
    border-color: #2c2a57;
    box-shadow: 0 0 0 0.2rem rgba(44, 42, 87, .5);
}
.btn-outline-info:focus {
    box-shadow: 0 0 0 0.2rem rgba(161,251,253, .5);
}
.btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(44, 42, 87, .5);
}
.input-group-text {
    color: #A1FBFD;
    border: 1px solid #A1FBFD;
    background-color: #2c2a57;
}
.custom-select {
    color: #2c2a57;
    border: 1px solid #A1FBFD;
}
.categories {
    padding: 0 0 .75rem 0;
    margin: .25rem 0;
}
.category {
    padding: 0 .5rem;
    margin: .25rem 0;
}
.category span {
    border: 1px solid #A1FBFD;
    border-radius: 1rem;
    padding: .5rem;
    border-top-left-radius: 0;
    background: #a1fbfd;
    color: #44417c;
}
.swivel {
    animation: swivel 1.5s linear infinite alternate;
    animation-fill-mode: both;
    display: inline-block;
}
@keyframes swivel {
    0% {transform: rotate(15deg)}
    100% {transform: rotate(-15deg)}
}
@keyframes approvalNeeded {
    0% {color: white}

    100% {color: #cd4579}
}
.approval {
    animation: approvalNeeded 1.5s linear 1.5s 2 alternate;
    font-weight: bold;
}
.attention {
    animation: attention 1s linear infinite alternate;
    animation-fill-mode: both;
    display: inline-block;
}
@keyframes attention {
    0% {transform: rotate(2deg)}
    100% {transform: rotate(-2deg)}
}
.comment img {
    width: 100%;
    height: auto;
}
.mapBox {
    height: 15rem;
    width: 100%;
    border: 1px solid white;
    margin: 1.5rem 0;
    color:#2c2a57;
}
#map {
    height: 100%;
}
.text-white {
    color: white;
}
.text-gray {
    color: #b7b3b3;
}
.text-small {
    font-size: .75rem;
}
.check-with-label:checked + input +.label-for-check {
    font-weight: 800;
}
.check-with-label:checked + .label-for-check {
    color: #a1fbfd;
}
.check-with-label {
    display:none;
}
.label-for-check{
    cursor: pointer;
}
.kid-text .check-with-label:checked + input +.label-for-check {
    font-weight: 800;
    transform: rotate(20deg);
}
.messageModal {
    color: black;
}

.messageInput {
    width: 95%;
}
footer {
    height: 7rem;
    padding-top: 3rem;
    background: linear-gradient(0deg, rgb(35, 35, 35) 70%, rgba(52,58,64,0) 95%, rgba(205,32,42,0) 100%);
    overflow: hidden;
    margin-top: 8.5rem;
    width: 100%;
}
footer img {
    width: 50%;
    margin: 0 auto;
    display: block;
}
.fa-envelope {
    margin-right: 5px;
}

.senderMessage {
    background-color: deepskyblue;
    color: white;

}

.receiverMessage {
    background-color:lightgray;
    color: black;

}

.senderSpeechBubble {
    position: relative;
    background: #6eba37;
    border-radius: .4em;
    padding: 10px;
    float: right;
    margin-left: 10px;
}

.senderSpeechBubble:after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #6eba37;
    border-right: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-right: -20px;
}


.receiverSpeechBubble {
    position: relative;
    background: lightgray;
    border-radius: .4em;
    padding: 10px;
    color: black;
    margin-right:10px;

}

.receiverSpeechBubble:after {
    content: '';
    position: absolute;
    left: 4px;
    top: 50%;
    width: 0;
    height: 0;
    border: 0.781em solid transparent;
    border-right-color: lightgray;
    border-left: 0;
    border-bottom: 0;
    margin-top: -0.391em;
    margin-left: -0.781em;
}

.messageImg {
    width: 5rem;
    height: 5rem;
    margin: .25rem auto;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.messageImg img {
    width: auto;
    height: 100%;
}

.messageUserName {
    font-weight: bold;
}

.messageBlock {
    margin-left: 10px;
}

.family-list {
    max-height: 42rem;
    padding-bottom: 1rem;
    overflow: scroll;
}

.modal-content {
    background-color: #B5F9FC;
}

.dashboardOver {
    height: 225px;
    overflow: auto;

}

.messageTime.float-right {
    position: relative;
    top: 2px;
}
.aboutUs a{
    color: #a1fbfd;
    margin: .5rem;
    font-size: 3rem;
}
.aboutUs a:hover{
    color: white;
    text-decoration: underline;
}
.img404 {
    background: linear-gradient(0deg, rgba(44,42,87,1) 0%, rgba(253,29,29,0) 5%, rgba(205,32,42,0) 95%, rgba(44,42,87,1) 100%), url("/img/404bear.jpg");
    background-position: center;
    background-size: cover;
    height: 50rem;
}
.inner404 {
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
    position:absolute;
}
.img404::before {
    opacity:0.25;
}

@media screen and (min-width: 300px){
    .logoImageDynamic {
        width: 290px;
    }

    .commentImg {
        width: 3rem;
        height: 3rem;
    }

    .btn.indexHeader {
        font-size: 2.25em;
    }

    .messageImg {
        width: 3rem;
        height: 3rem;
    }

    .aboutUsImg {
        width: 7rem;
        height: 7rem;
    }
    .loginInputs {
        width: 100%;
    }

}

@media screen and (min-width: 350px) {
    .btn.indexHeader {
        font-size: 2.75em;
    }

}

@media screen and (min-width: 500px){
    .logoImageDynamic {
        width: 490px;
    }
    .commentImg {
        width: 4rem;
        height: 4rem;
    }

    .messageImg {
        width: 4rem;
        height: 4rem;
    }

    .aboutUsImg {
        width: 9rem;
        height: 9rem;
    }

}

@media screen and (min-width: 768px){

    .homeImg {
        width: 13rem;
        height: 13rem;
        margin: .75rem auto;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
    }

    .logoImageDynamic {
        width: 758px;
    }
    .commentImg {
        width: 6rem;
        height: 6rem;
    }

    .aboutUsImg {
        width: 11rem;
        height: 11rem;
        margin-top: 5rem;
    }

    .messageImg {
        width: 5rem;
        height: 5rem;
    }


}


@media screen and (min-width: 792px){
    .logoImageDynamic {
        width: 790px;
    }

}

@media screen and (min-width: 992px){
    .homeImg {
        width: 16rem;
        height: 16rem;
    }
    .commentImg {
        width: 7rem;
        height: 7rem;
    }

    .aboutUsImg {
        width: 20rem;
        height: 20rem;
        margin-top: 0;
    }
    .loginInputs {
        width: 38%;
    }
}


