<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/header :: header ('New Task')"></head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h1 class="homePageText">Create A New Event!</h1>
        </div>
    </div>
</div>

<div class="container taskContainer">
    <div class="row">
        <form class="form" th:action="@{/tasks/create}" method="POST" th:object="${task}">
            <label>Add Title <br />
            <input type="text" th:field="*{title}" th:required="required"/></label>
            <p class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />
            <label><i class="far fa-calendar-check"></i> Deadline <br />
            <input type="date" name="completed_by" th:required="required"/></label>
            <p class="text-danger" th:if="${#fields.hasErrors('completed_by')}" th:errors="*{completed_by}" />
            <label><i class="fas fa-file-alt"></i> Add Description <br />
            <input type="text" th:field="*{description}" /></label>
            <p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" />
            <label><i class="fas fa-user-alt"></i> Assign To
            <select th:field="*{designated_user}">
                <div th:each="member : ${family.users}">
                    <option th:if="${member.title == null}" th:value="${member.id}" th:text="${member.firstName}"></option>
                    <option th:if="${member.title}" th:value="${member.id}" th:text="${member.title}"></option>
                </div>
            </select></label>
            <p class="text-danger" th:if="${#fields.hasErrors('designated_user')}" th:errors="*{designated_user}" />
            <div>
                <p><i class="far fa-list-alt"></i> Categories</p>
                <label th:each="category : ${categories}">
                    <input type="checkbox" th:field="*{categories}" th:value="${category.id}" /> <span class="categories" th:text="${category.name}"></span>
                </label>
            </div>
            <button>Submit</button>
        </form>
    </div>
</div>



<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>