<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/header :: header (Events)"></head>
<body>

<div th:replace="partials/navbar :: navbar"></div>
<div class="container taskContainer" sec:authorize="hasRole('ROLE_PARENT')">
    <div class="row">
        <form class="form" th:action="@{/tasks/edit}" method="POST" th:object="${task}">
            <label>Title: </label>
            <input type="text" th:field="*{title}" th:required="required"/>
            <p class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />
            <label>Task Completion Deadline: </label>
            <input type="date" th:value="*{completed_by}" name="completed_by" th:required="required"/>
            <p class="text-danger" th:if="${#fields.hasErrors('completed_by')}" th:errors="*{completed_by}" />
            <label>Description: </label>
            <input type="text" th:field="*{description}" />
            <p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" />
            <select th:field="*{designated_user}">
                <div th:each="member : ${#authentication.principal.family.users}">
                    <option th:if="${member.title == null}" th:value="${member.id}" th:text="${member.firstName}"></option>
                    <option th:if="${member.title}" th:value="${member.id}" th:text="${member.title}"></option>
                </div>
            </select>
            <p class="text-danger" th:if="${#fields.hasErrors('designated_user')}" th:errors="*{designated_user}" />
            <h1>Categories</h1>
            <div>
                <label th:each="category : ${categories}">
                    <input type="checkbox" th:field="*{categories}" th:value="${category.id}" /> <span class="categories" th:text="${category.name}"></span>
                </label>
            </div>
            <input type="hidden" th:field="*{id}" th:value="${id}"/>
            <input type="hidden" th:field="*{created_on}" th:value="${created_on}"/>
            <input type="hidden" th:field="*{creator}" th:value="${creator}"/>
            <input type="hidden" name="statusId" th:value="${task.status.id}"/>
            <button>Submit</button>
        </form>
        <input class="registrationButton col-md-4 col-md-offset-4" value="Delete Task" type="button" id="showDeleteForm"/>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center text-danger">Are you sure you would like to delete this task?</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <form th:action="@{/tasks/delete}" method="POST">
                    <input type="hidden" name="taskId" th:value="${task.id}"/>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>