<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/header :: header ('Tasks')"></head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<div class="container">
    <div class="row">
        <select name="taskView" id="taskView">
            <option value="day">Day</option>
            <option value="week" selected="selected">Week</option>
            <option value="month">Month</option>
            <option value="all">View All</option>
        </select>
    </div>
</div>
<div class="container">
    <h2>My Tasks</h2>
        <div class="row">
        <div class="col-md-3 taskContainer"  th:if="${task.status.id != 4}" th:each="task : ${myTasks}">
            <h2><span th:text="${task.title}"></span> <i th:if="${task.status.id == 1}" class="fas fa-ellipsis-h"></i><i th:if="${task.status.id == 2}" class="fas fa-spinner fa-spin"></i><i th:if="${task.status.id == 3}" class="far fa-check-circle"></i></h2>
            <h5><i class="far fa-calendar-times"></i> Due <span th:text="${task.completed_by}" class="changeDate due"></span><span th:text="${task.completed_by}" hidden="hidden" class="date task"></span></h5>
            <h5 th:if="${task.creator.title}"><i class="fas fa-user-alt"></i> From <span class="text-capitalize" th:text="${task.creator.title}"></span></h5>
            <h5 th:if="${task.creator.title == null}"><i class="fas fa-user-alt"></i> From <span class="text-capitalize" th:text="${task.creator.firstName}"></span></h5>
            <h5><i class="far fa-calendar-alt"></i> Assigned On <span th:text="${task.created_on}" class="changeDate">  </span></h5>
            <a th:href="@{/tasks/{id}(id = ${task.id})}"> View More Info</a>
            <h5 th:if="${task.status.id == 3}">Pending Final Approval</h5>
            <form th:if="${task.status.id == 1 or task.status.id == 2}" th:action="@{/tasks/update}" method="POST">
                <input  type="hidden" name="taskId" th:value="${task.id}"/>
                <button th:if="${task.status.id == 1}">Mark As In Progress</button>
                <button th:if="${task.status.id == 2}">Mark As Completed</button>
            </form>
        </div>
        <div class="card"  th:if="${myTasks.size() == 0}">
            <p>No Tasks Currently Assigned</p>
        </div>
    </div>
</div>
<div class="container" sec:authorize="hasRole('ROLE_PARENT')">
    <h2>All Family Tasks Assigned</h2>
    <div class="row" >
        <div class="col-md-3 taskContainer"  th:if="${task.status.id != 4}" th:each="task : ${allTasks}">
            <h2><span th:text="${task.title}"></span> <i th:if="${task.status.id == 1}" class="fas fa-ellipsis-h"></i><i th:if="${task.status.id == 2}" class="fas fa-spinner fa-spin"></i><i th:if="${task.status.id == 3}" class="far fa-check-circle"></i></h2>
            <h5><i class="far fa-calendar-times"></i> Due <span th:text="${task.completed_by}" class="changeDate due"></span><span th:text="${task.completed_by}" hidden="hidden" class="date task"></span></h5>
            <h5 th:if="${task.creator.title}"><i class="fas fa-user-alt"></i> From <span class="text-capitalize" th:text="${task.creator.title}"></span></h5>
            <h5 th:if="${task.creator.title == null}"><i class="fas fa-user-alt"></i> From <span class="text-capitalize" th:text="${task.creator.firstName}"></span></h5>
            <h5 th:if="${task.designated_user.title}"><i class="fas fa-user-alt"></i> For <span class="text-capitalize" th:text="${task.designated_user.title}"></span></h5>
            <h5 th:if="${task.designated_user.title == null}"><i class="fas fa-user-alt"></i> For <span class="text-capitalize" th:text="${task.designated_user.firstName}"></span></h5>
            <h5><i class="far fa-calendar-alt"></i>Assigned On <span th:text="${task.created_on}" class="changeDate">  </span></h5>
            <a th:href="@{/tasks/{id}(id = ${task.id})}"> View More Info</a>
            <form th:if="${#authentication.principal.id == task.creator.id and task.status.id == 3}" th:action="@{/tasks/update}" method="POST">
                <input  type="hidden" name="taskId" th:value="${task.id}"/>
                <button th:if="${task.status.id == 3}">Mark As Closed</button>
            </form>
        </div>
    </div>
</div>

<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>