<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/header :: header (Events)"></head>
<body>

<div th:fragment="searchbar" class="container">
    <div class="row">
        <div class="searchBox">
            <form th:action="@{/search/results}" method="get">
                <label for="searchTerm">Search:</label>
                <input type="text" id="searchTerm" name="searchTerm" placeholder="Keyword(s)" />

                <label>Events<input type="checkbox" id="searchEvents" name="searchEvents" /></label>
                <label for="searchTasks">Tasks<input type="checkbox" id="searchTasks" name="searchTasks" /></label>

                <select id="searchCategories" name="searchCategories">
                    <option label=" "></option>
                    <option value="CHORE">Chore</option>
                    <option value="PARTY">Party</option>
                </select>
                <button>Submit</button>
            </form>
        </div>
    </div>
</div>


</body>
</html>