<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/header :: header (Events)"></head>
<body>

<div th:fragment="searchbar">
    <div class="row">
        <div class="col justify-content-md-center">
            <div class="dashboardBlock">
                <form th:action="@{/search/results}" method="GET" class="row">
                    <div class="col-md-6 pt-2 mt-1 mb-0">
                        <input type="text" id="searchTerm" name="searchTerm" placeholder="Search" class="registrationInputs py-1" th:value="${searchTerm}"/>
                    </div>
                    <div sec:authorize="hasAnyRole('ROLE_CHILD, ROLE_PARENT')">
                        <input type="checkbox" id="searchEvents" name="searchEvents" class="check-with-label" checked="checked"/>
                        <label for="searchEvents" class="label-for-check text-gray"><i class="fas fa-check"></i> Events</label><br/>
                        <input type="checkbox" id="searchTasks" name="searchTasks" class="check-with-label" checked="checked"/>
                        <label for="searchTasks" class="label-for-check text-gray"><i class="fas fa-check"></i> Tasks</label>
                    </div>
                    <div hidden="hidden" sec:authorize="hasRole('ROLE_CARETAKER')">
                        <input type="checkbox" id="searchEvents" name="searchEvents" class="check-with-label"/>
                        <label for="searchEvents" class="label-for-check text-gray"><i class="fas fa-check"></i> Events</label><br/>
                        <input type="checkbox" id="searchTasks" name="searchTasks" class="check-with-label" checked="checked"/>
                        <label for="searchTasks" class="label-for-check text-gray"><i class="fas fa-check"></i> Tasks</label>
                    </div>
                    <div class="form-group col-md-3 pt-2 mt-1 mb-0">
                        <select class="form-control" id="searchCategories" name="searchCategories">
                            <option value="ALL">All</option>
                            <option th:each="category : ${categories}" class="text-capitalize"><span th:value="${category.name}" th:text="${category.name}"></span></option>
                        </select>
                    </div>
                    <div class="col-md-2 text-center pt-2 mt-1 mb-0">
                        <button class="btn btn-outline-info">Search!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>