<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/header :: header('About Us')"/>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<h1 class="homePageText text-center">About the Developers</h1>
<div class="container aboutUs text-center mt-3" >
    <div class="row dashboardBlock">
        <div class="col-md-7">
            <h1>Rodger Scott</h1>
            <hr/>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem doloribus eius expedita itaque libero maxime, omnis quas tempore totam velit! Eaque eligendi itaque libero nobis nostrum nulla obcaecati quibusdam quisquam!</p>
            <p><a href="https://github.com/RodgerScott"><i class="fab fa-github"></i> Visit Rodger's Github</a></p>
            <p><a href="https://www.linkedin.com/in/rodger-scott/"><i class="fab fa-linkedin-in"></i> Visit Rodger's LinkedIn</a></p>
            <p><a href="http://rodgerscott.me/"><i class="fas fa-at"></i> Visit Rodger's Personal Site</a></p>
            <p><a href="mailto:rodger.scott@gmail.com"><i class="far fa-envelope"></i> Email Rodger</a></p>
        </div>
        <div class="col-md-5">
            <div class="aboutUsImg">
                <img src="/uploads/rodger-img.jpeg" />
            </div>
        </div>
    </div>
    <div class="row dashboardBlock">
        <div class="col-md-5">
            <div class="aboutUsImg">
                <img src="/uploads/lynette-img.jpg" />
            </div>
        </div>
        <div class="col-md-7">
            <h1>Lynette Barrera</h1>
            <hr/>
            <p>I enjoy the practice of creating and utilizing my knowledge in mathematics to solve problems. Software development marries these two perfectly to construct a field I am excited to join. In this ever-changing landscape, I can rely on continuing to learn and grow to produce aesthetic functionality one line of code at a time.</p>
            <p><a href="https://github.com/LynetteNB"><i class="fab fa-github"></i> Visit Lynette's Github</a></p>
            <p><a href="https://www.linkedin.com/in/lynette-barrera/"><i class="fab fa-linkedin-in"></i> Visit Lynette's LinkedIn</a></p>
            <p><a href="https://lynettenb.github.io/"><i class="fas fa-at"></i> Visit Lynette's Personal Site</a></p>
            <p><a href="mailto:lynette.n.barrera@gmail.com"><i class="far fa-envelope"></i> Email Lynette</a></p>
        </div>
    </div>
</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>