<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Kincurrently')"/>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="todaysDate text-center"></h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Welcome, <span th:if="${#authentication.principal.title}" th:text="${#authentication.principal.title}"></span>!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1><span th:if="${#authentication.principal.title == null}" th:text="${#authentication.principal.firstName}"></span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Check out the <span th:text="${#authentication.principal.family.name}"></span> family happenings.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 familyContainer">
            <h4>Family Members</h4>
            <ul th:each="member : ${familyMembers}">
                <li th:text="${member.firstName}"></li>
            </ul>
        </div>
    </div>
    <h4 class="text-center">Events</h4>
    <div class="row">
        <div class="col-md-3 eventContainer" th:each="event : ${events}">
            <h5 th:text="${event.title}"></h5>
            <h5 th:text="${event.description}"></h5>
            <h5 th:text="${event.location}"></h5>
            <div><a th:href="@{/events/{id}(id=${event.getId()})}">View Event</a></div>
        </div>
    </div>
    <h4 class="text-center">Tasks for Others</h4>
    <div class="row">

        <div class="col-md-3 taskContainer" th:each="taskC : ${tasksCreated}">
            <h5 th:text="${taskC.title}"></h5>
            <h5 th:text="${taskC.description}"></h5>
            <h5 th:text="${taskC.getDesignated_user().getUsername()}"></h5>
            <a th:href="@{/tasks/{id}(id = ${taskC.id})}"> View More Info</a>
        </div>
    </div>
    <h4 class="text-center">My Tasks</h4>
    <div class="row">
        <div class="col-md-3 taskContainer">
            <div th:each="taskD : ${tasksDesignated}">
                <h5 th:text="${taskD.title}"></h5>
                <a th:href="@{/tasks/{id}(id = ${taskD.id})}"> View More Info</a>
            </div>
        </div>
    </div>

</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>