<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Kincurrently')"/>
<body>
<div th:replace="partials/navbar :: navbar"></div>

<h1 th:if="${#authentication.principal.title}" th:text="${#authentication.principal.title}"></h1>
<h1 th:if="${#authentication.principal.title == null}" th:text="${#authentication.principal.firstName}"></h1>
<h1 th:text="${#authentication.principal.family.name}"></h1>
<ul th:each="member : ${familyMembers}">
    <li th:text="${member.firstName}"></li>
</ul>


<div th:replace="partials/footer :: footer"></div>
</body>
</html>