<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Kincurrently')"/>
<body>
<div th:replace="partials/navbar :: navbar"></div>

<h1>Create an account</h1>
<form th:action="@{/register}" method="POST">
    <!--Creating a new user-->
    <input id="firstName" th:value="*{user.firstName}" name="firstName" placeholder="First Name" th:required="required" />
    <div>
        <p th:if="${#fields.hasErrors('user.firstName')}" th:errors="*{user.firstName}" />
    </div>

    <input id="lastName" th:value="*{user.lastName}" name="lastName" placeholder="Last Name" th:required="required" />
    <div>
        <p th:if="${#fields.hasErrors('user.lastName')}" th:errors="*{user.lastName}" />
    </div>

    <input id="title" th:value="*{user.title}" name="title" placeholder="What name do you like to go by? i.e. Mom, Dad, Mommy, etc." />

    <input type="date" name="birthdate" th:required="required" />
    <div>
        <p th:if="${#fields.hasErrors('user.birthdate')}" th:errors="*{user.birthdate}" />
    </div>

    <input id="username" th:value="*{user.username}" name="username" placeholder="Username" th:required="required" />
    <div>
        <p th:if="${#fields.hasErrors('user.username')}" th:errors="*{user.username}" />
    </div>

    <input id="email" th:value="*{user.email}" name="email" placeholder="Email" th:required="required" />
    <div>
        <p th:if="${#fields.hasErrors('user.email')}" th:errors="*{user.email}" />
    </div>

    <input id="password" type="password" th:value="*{user.password}" name="password" placeholder="Password" th:required="required" />
    <input id="verifyPassword" type="password" name="verifyPassword" placeholder="Verify Password" th:required="required"/>
    <div>
        <p th:if="${#fields.hasErrors('user.password')}" th:errors="*{user.password}" />
    </div>
    <!--Creating or Joining a Family-->
    <label>
        <input type="checkbox" name="joinFamily" id="joinIfExisting"/>Join an existing family?
    </label>
    <div id="showForNewFamily">
        <input id="family" th:value="*{family.name}" name="name" placeholder="What would you like to name your family?" />
        <div>
            <p th:if="${#fields.hasErrors('family.name')}" th:errors="*{family.name}" />
        </div>
    </div>
    <input id="code" th:value="*{family.code}" name="code" placeholder="Enter a unique code for family members to join your family." />
    <div>
        <p th:if="${#fields.hasErrors('family.code')}" th:errors="*{family.code}" />
    </div>
    <input value="Sign me up!" type="submit"/>
</form>

<div th:replace="partials/footer :: footer"></div>
</body>
</html>