<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Kincurrently')"/>
<body>
<div th:replace="partials/navbar :: navbar"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class = "col-md-6 col-md-offset-3 regFormContainer">

            <h2 class="text-center">Add Mini Kin To Your Family</h2>
            <hr />
            <form th:action="@{/child/register}" method="POST" th:object="${user}">
                <div class="row">

                    <div class="col-md-6">
                        <label class="registrationLabels" for="childFirstName">First Name</label><br />
                        <input class="registrationInputs" id="childFirstName" th:field="*{firstName}" name="firstName" th:required="required" /><br/>
                        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" />
                    </div>

                    <div class="col-md-6">
                        <label class="registrationLabels" for="childLastName">Last Name</label><br />
                        <input class="registrationInputs" id="childLastName" th:field="*{lastName}" name="lastName" th:required="required" /><br/>
                        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" />
                    </div>

                    <div class="col-md-6">
                        <label class="registrationLabels" for="childTitle">Title</label><br />
                        <input class="registrationInputs" id="childTitle" th:field="*{title}" name="title" placeholder="e.g. TimTam, Sallybear, etc." /><br/>
                    </div>

                    <div class="col-md-6">
                        <label class="registrationLabels" for="childBirthdate">Birthday</label><br />
                        <input class="registrationInputs" type="date" name="birthdate" id="childBirthdate" th:required="required" /><br/>
                        <p th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}" />
                    </div>

                    <div class="col-md-6">
                        <label class="registrationLabels" for="childUsername">Username</label><br />
                        <input class="registrationInputs" id="childUsername" th:field="*{username}" name="username" th:required="required" /><br/>
                        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" />
                    </div>

                    <div class="col-md-6">
                        <label class="registrationLabels" for="childEmail">Email</label><br />
                        <input class="registrationInputs" id="childEmail" th:field="*{email}" name="email" placeholder="Email" th:required="required" /><br/>
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" />
                    </div>

                    <div class="col-md-6">
                        <label class="registrationLabels" for="childPassword">Password</label><br />
                        <input class="registrationInputs" id="childPassword" type="password" th:field="*{password}" name="password" th:required="required" /><br/>
                    </div>

                    <div class="col-md-6">
                        <label class="registrationLabels" for="childVerifyPassword">Verify Password</label><br />
                        <input class="registrationInputs" id="childVerifyPassword" type="password" name="verifyPassword" th:required="required"/><br/>
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <input class="registrationButton col-md-4 col-md-offset-4" value="Register Child!" type="submit"/>
                </div>
            </form>

        </div>
    </div>
</div>

<div th:replace="partials/footer :: footer"></div>
</body>
</html>