<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Register')"/>
<body>
<div th:replace="partials/navbar :: navbar"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class = "col-md-6 col-md-offset-3 dashboardBlock">
            <h2 class="text-center homePageText">Create Account</h2>
            <hr />
                <form th:action="@{/register}" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="registrationLabels" for="firstName">First Name</label><br />
                            <input class="registrationInputs" id="firstName" th:value="*{user.firstName}" name="firstName" th:required="required"/> <br/>
                        <p class="text-danger" th:if="${#fields.hasErrors('user.firstName')}" th:errors="*{user.firstName}" />
                        </div>

                        <div class="col-md-6">
                            <label class="registrationLabels" for="lastName">Last Name</label><br />
                            <input class="registrationInputs" id="lastName" th:value="*{user.lastName}" name="lastName" th:required="required" /> <br/>
                        <p class="text-danger" th:if="${#fields.hasErrors('user.lastName')}" th:errors="*{user.lastName}" />
                        </div>

                        <div class="col-md-6">
                            <label class="registrationLabels" for="title">Family Title</label><br />
                            <input class="registrationInputs" id="title" th:value="*{user.title}" name="title" placeholder="e.g., Mom, Daddy, etc." /> <br/>
                        </div>

                        <div class="col-md-6">
                            <label class="registrationLabels" for="birthdate">Birthday</label><br />
                            <input class="registrationInputs" type="date" name="birthdate" id="birthdate" th:required="required" /> <br/>
                        <p class="text-danger" th:if="${#fields.hasErrors('user.birthdate')}" th:errors="*{user.birthdate}" />
                        </div>

                        <div class="col-md-6">
                            <label class="registrationLabels" for="username">Username</label><br/>
                            <input class="registrationInputs" id="username" th:value="*{user.username}" name="username" th:required="required" /><br/>
                        <p class="text-danger" th:if="${#fields.hasErrors('user.username')}" th:errors="*{user.username}" />
                        </div>

                        <div class="col-md-6">
                            <label class="registrationLabels" for="email">Email</label><br/>
                            <input class="registrationInputs" id="email" th:value="*{user.email}" name="email" th:required="required" /><br/>
                            <p class="text-danger" th:if="${#fields.hasErrors('user.email')}" th:errors="*{user.email}" />
                        </div>

                        <div class="col-md-6">
                            <label class="registrationLabels" for="password">Password</label><br/>
                            <input class="registrationInputs" id="password" type="password" th:value="*{user.password}" name="Password" th:required="required" /><br/>
                        </div>

                        <div class="col-md-6">
                            <label class="registrationLabels" for="verifyPassword">Verify Password</label><br/>
                            <input class="registrationInputs" id="verifyPassword" type="password" name="verifyPassword" th:required="required"/>
                            <p class="text-danger" th:if="${#fields.hasErrors('user.password')}" th:errors="*{user.password}" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="registrationLabels"><input class="registrationInputs" type="checkbox" name="joinFamily" id="joinIfExisting"/>Join an existing family?</label><br/>
                        </div>
                        <div class="col-md-6">
                            <label for="chooseRole">Kin Relationship: </label>
                            <select name="chooseRole" id="chooseRole">
                                <option value="PARENT" selected="selected">Grown Kin</option>
                                <option value="CHILD">Mini Kin</option>
                                <option value="CARETAKER">Caretaker</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div id="showForNewFamily" class="col-md-6">
                            <label class="registrationLabels" for="family">Family Name</label><br/>
                            <input class="registrationInputs" id="family" th:value="*{family.name}" name="name" placeholder="e.g., Smith, Sanchez, etc." />
                            <p class="text-danger" th:if="${#fields.hasErrors('family.name')}" th:errors="*{family.name}" />
                        </div>

                        <div class="col-md-6">
                            <label class="registrationLabels code" for="password">FamilyCode</label><br/>
                            <input class="registrationInputs" id="code" th:value="*{family.code}" name="code" placeholder="Secret Family Code." /> <br/>
                            <p class="text-danger" th:if="${#fields.hasErrors('family.code')}" th:errors="*{family.code}" />
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <input class="btn btn-outline-info col-md-4 col-md-offset-4" value="Sign me up!" type="submit"/>
                    </div>
                </form>
        </div>
    </div>
</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>