<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Kincurrently')"/>
<body>
<div th:replace="partials/navbar :: navbar"></div>

<div class="mainImg">
    <div class="logo">
        <img class="logoImageDynamic" src="/img/kincurrently-intro.png"/>
    </div>
</div>


<div class="container text-center text-white">
    <div class="row">
        <div class="col-md-4">
            <h3 class="indexHeader">Schedule Events</h3>
            <div class="homeImg">
                <img src="/img/event-img.jpg"/>
            </div>
            <p>Keep the family up to date easily on who, what, where, and when by scheduling events for them to see! Each family has their own agenda they can share to always be able to be at the right place at the right time. </p>
        </div>
        <div class="col-md-4">
            <h3 class="indexHeader">Assign Tasks</h3>
            <div class="homeImg">
                <img src="/img/plan-img.jpg"/>
            </div>
            <p>Have the ability to assign and recieve tasks with family members so that you don't forget that thing your spouse asked you to pick up on the way home from work! Family members will be able to see what tasks are done, in progress, or have yet to be started so that everyone will be in the know.</p>
        </div>
        <div class="col-md-4">
            <h3 class="indexHeader">Preserve History</h3>
            <div class="homeImg">
                <img src="/img/history-img.jpg"/>
            </div>
            <p>Comment and upload images for upcoming and past events so that you can always look back and remember what a fun time the family had! Coming together to share your experiences and have visuals for an event or task gives your family a better way to remember!</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="/register" class="btn btn-outline-info indexHeader btn-large pt-3">Register Now!</a>
        </div>
    </div>
</div>

<div th:replace="partials/footer :: footer"></div>
</body>
</html>
