<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Kincurrently')"/>
<body>
<div th:replace="partials/navbar :: navbar"></div>

<div class="mainImg">
<div class="logo">
    <img src="/img/kincurrently-intro.png"/>
</div>

</div>


<div class="container text-center text-white">
    <div class="row">
        <div class="col-md-4">
            <h3 class="indexHeader">Schedule Events</h3>
            <div class="homeImg">
                <img src="/img/event-img.jpg"/>
            </div>
            <p class="indexIconDesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Animi deserunt distinctio ea fugiat id magni.</p>
        </div>
        <div class="col-md-4">
            <h3 class="indexHeader">Assign Tasks</h3>
            <div class="homeImg">
                <img src="/img/plan-img.jpg"/>
            </div>
            <p class="indexIconDesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Animi deserunt distinctio ea fugiat id magni.</p>
        </div>
        <div class="col-md-4">
            <h3 class="indexHeader">Preserve History</h3>
            <div class="homeImg">
                <img src="/img/history-img.jpg"/>
            </div>
            <p class="indexIconDesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Animi deserunt distinctio ea fugiat id magni.</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="/register" class="btn btn-outline-info indexHeader btn-large pt-3">Register Now!</a>
        </div>
    </div>

</div>

<div th:replace="partials/footer :: footer"></div>
</body>
</html>
